@using DemoWebApp.Models
@model StudentModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
Информация о студенте <br/> Id = @Model.Id <br/> Name = @Model.Name
</body>
</html>