.button {
    padding: 10px 30px;
    border-radius: 5px;
    background: transparent;
}

.canvas{
    border: 2px solid black;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    &_red{
        background: red;
    }
    &_yellow{
        background: yellow;

    }
    &_green{
        background: green;
    }
}