<p *ngIf="!isLoaded">
    Дождитесь загрузки данных
  </p>
  <table class="table table-sm table-bordered table-striped" *ngIf="isLoaded">
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Категория</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.categoryName}}</td>
        </tr>
    </tbody>
</table>