@model CrudWebApp.Models.ProductModel

<form method="post" asp-action="Create">
    <div>
        <label asp-for="Name">Название:</label>
        <input asp-for="Name"/>
    </div>
    <div>
        <label asp-for="Price">Цена:</label>
        <input asp-for="Price"/>
    </div>
    <div>
        <label asp-for="Price">Категория:</label>
        <input asp-for="CategoryId"/>
        @* <select name="category" asp-items="Model.CategoryId"></select> *@
    </div>
    <button type="submit">Создать</button>
</form>