<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="BooksConnectionString"
             connectionString="Host=localhost;Port=5432;Username=postgres;Password=qwerty;Database=Books;" />
        <add name="BooksCodeFirst"
             connectionString="Host=localhost;Port=5432;Username=postgres;Password=qwerty;Database=Books_Code_First;" />
    </connectionStrings>
</configuration>