<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <connectionStrings>
        <clear />
        <add name="MyLocalDb" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Repos\CodeITStep\ADO.NET\ProvidersWpf\ProvidersWpf\Database1.mdf;Integrated Security=True" />
        <add name="MyAccess" providerName="System.DataOleDb"
             connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Library.accdb;Persist Security Info=False" />
		<add name="VegetablesAndFruitsConnectionString" providerName="Npgsql" connectionString="Host=localhost;Port=5432;Username=postgres;Password=qwerty;Database=jan08_HW" />
	</connectionStrings>
</configuration>