<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
<script src="~/js/bootstrap.min.js"></script>
</html>