<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="VegetablesAndFruitsConnectionString" providerName="Npgsql" connectionString="Host=localhost;Port=5432;Username=postgres;Password=qwerty;Database=jan08_HW" />
        <add name="MyLocalDb" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Repos\CodeITStep\ADO.NET\jan15_HW\jan15_HW\Databases\MySqlDatabase.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>