<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <connectionStrings>
        <clear />
        <add name="MyLocalDb" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Repos\CodeITStep\ADO.NET\TransWpfApp\TransWpfApp\Database1.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>    